.container {
  padding: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 25%);
	grid-template-rows:  repeat(4, 25%);
  justify-items: center;
}

.start {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startButton {
  width: 300px;
  height: 60px;
  border-radius: 3px;
  background-color: rgb(82, 74, 136);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
